.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user {
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.4rem;
  border-radius: 50%;
}